body{
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    
}
#resume{
    border-style: solid;
    border-width: 1px;
    border-color: #F58E17;
    border-radius: 10px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
}
.nav-link{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  font-family: poppins;
    
}
.nav-link>li{
    padding-right: 50px;
    font-size: 20px;
    color: white;
}
.nav-img{
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: white;

}
.nav-name> p{
    padding-left: 10px;
    font-size: 20px;
    color: white;
}

.nav-name{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    align-items: center;
}
.hero{
    display:flex;
}

.hero-left{
    width: 50%;
    padding: 12vh;
}
.hero-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hero-right-photo{
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    border-color: white;
}
.hero-left>h1{
    color: white;
}
.hero-left>h2{
    color: white;
    letter-spacing: 3px;
}
.hero-left>p{
    color:rgb(148, 148, 148)
}
.skills{
    padding-bottom: 40px;
    background-image: linear-gradient(to right top, #d6d8bc, #b6d5c2, #a0ced0, #a1c2d8, #b3b3d1);}
.skills-name>h1{
    margin-top: 0px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.skills-name>p{
    display:flex;
    justify-content: center;
    font-size: 25px;
}
.skills-card{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
    padding: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    border-radius: 10px;
    background-color: aliceblue;
    justify-content: center;
    margin-bottom: 30px;
    
}
.skills-card-data{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 18px;
    border-style: solid;
    border-width: 1px;
    border-color: #F58E17;
    border-radius: 10px;
}
.placement-name>h1{
    margin-top: 0px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.placement-name>p{
    display:flex;
    justify-content: center;
    font-size: 25px;
}
#btn-place{
    font-size: 24px;
    padding: 18px;
    margin-bottom: 40px;
    color: white;
    border-radius: 10px;
    background-color: #F58E17;
}
.yt-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.yt-video> iframe{
    border-radius: 10px;
    margin: 30px;
}
.yt-text>#day{
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.69);
    
    margin-left: 10px;
}
.yt-text>h3{
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
}
.yt-text>#author{
    margin-top: 2px;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.69);

}
.container-each{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    width: 300px;
    height: 380px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}
.container-each>iframe{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.project-cards{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-each>img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    width: 300px;
}
.contact-name{
    background-color: #092A3E;
    padding-bottom: 20px;
    
}
.email-contact> a{
    color: white;
    text-decoration: none;
    
    
}
.contact-name>h1{
    
    color: #F58E17;
    margin-top: 0px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.contact-name> p{
    
    display:flex;
    justify-content: center;
    font-size: 25px;
    color: white;
}
#p1{
    margin-bottom: 0px;
}
#p2{
    margin-top: 5px;
}
.education-container{
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    margin-left: 100px;
    
}
.edu-each{
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 413px;
    height: 176px;
    display: flex;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 90px
    
}
.edu-img> img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 100px;
}
.main{
    background-color: #092A3E;
}

.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.email-contact{display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border-color: #F58E17;
    border-style: solid;
    border-width: 1px;
    padding-right: 20px;
}
.email-contact>img{
    width: 20px;
    height: 20px;
    padding: 10px;
}
